.he-header {
  & {
    height: .67rem;
    line-height: .67rem;
    background-color: #0091ff;
    box-sizing: border-box;
    padding: 0 .38rem;
    color: #fff;
  }
  .left_arrow, .menu_con {
    width: .38rem;
    height: .38rem;
  }
  .left_arrow {
    & {
      position: relative;
    }
    span {
      display: inline-block;
      width: .2rem;
      height: .2rem;
      border-top: 2px solid #fff;
      border-left: 2px solid #fff;
      transform: translateY(-50%) rotate(-45deg);
      transform-origin: center center;
    }
  }
  .title {
    text-align: center;
    flex: 1;
    flex-grow: 1;
    font-size: 15px;
    line-height: 15px;
  }
  .menu_con {
    width: .41rem;
    height: .3rem;
    background: url('../asset/menu4.png') no-repeat left top;
    background-size: contain;
  }
}