.detail-page {
  .closeChat {
    color:black;
    position: fixed;
    z-index:999;
    right:40px; bottom:423px;
    cursor: pointer;
  }

  .chatContentDiv {
    width: 600px;
    height: 410px;
    background-color: #cccccc;
    position: fixed;
    z-index:99;
    right:20px; bottom:46px;
  }
  .kefuchatDiv {
    position: fixed;
    z-index:99;
    right:20px; bottom:10px;
    width: 250px;
    border-radius: 5px;
    height: 36px;
    background-color: #4c85ed;
    line-height: 36px;
    .kefuchat {
       width: 250px;
       text-align: center;
       display:block;
       float: left;
       cursor: pointer;
    }
    .chatMore {
      width: 70px;
      text-align: center;
      display:block;
      float: right;
      background-color: #386ed3;
      border-bottom-right-radius: 5px;
      border-top-right-radius: 5px;
      cursor: pointer;
    }
  }


  .detail-title {
    & {
      text-align: left;
      vertical-align: middle;
      margin-top: 22px;
      margin-bottom: 34px;
    }
    .icon-detail {
      width: 96px;
      height: 20px;
      display: inline-block;
      vertical-align: middle;
      img{
        width: 100%;
        height: 100%;
        display: block;
      }
    }
    h1 {
      font-size: 14px;
      line-height: 20px;
      color: #0160B0;
      font-weight: bold;
      display: inline-block;
      vertical-align: middle;
      margin: 0;
    }
    span {
      display: inline-block;
      height: 10px;
      border-left: 1px solid #FFCC00;
      margin: 0 10px;
    }
  }
  .ant-layout-content {
    overflow: initial;
  }
  .kefu {
    background: url(./kefu.png) no-repeat center center;
    background-size: cover;
    width: 40px;
    height: 40px;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
  }
  .detail-con {
    & {
      flex-wrap: wrap;
    }
    .button-group-con button{
      margin-right: 10px;
    }
    .button-group-con .active {
      color: #096dd9;
      background: #fff;
      border-color: #096dd9;
    }
    .ant-btn:active {
      font-weight: bold;
    }
    .product-introduce {
      margin-top: 30px;
      align-items: start;
    }
    .resource-con {
      text-align: left;
      width: 50%;
      margin-left: 6%;
      z-index: 1
    }
    .c-img {
      background-size: cover;
      background-repeat: no-repeat;
      width: 100%;
      padding-top: 75%;
      position: relative;
    }
    .imgFullScreeButton {
      width: 15%;
      background: #4c85ed;
      cursor:pointer;
        opacity: 0.7;
        position: relative;
        top: 23px;
        color: white;
        border: 0;
        z-index: 1;

    }
    
    .imgFullScreeButton:focus{outline:0;}

    .imgFullScreeButtonExit {
      display: none;
      width: 15%;
      background: #4c85ed;
      cursor:pointer;
        opacity: 0.7;
        position: relative;
        top: 23px;
        color: white;
        border: 0;
        z-index: 1;

    }
    
    .imgFullScreeButtonExit:focus{outline:0;}
    .c-img video {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
    }
    .product_name {
      font-size: 20px;
      color: #404040;
      line-height: 20px;
      margin-bottom: 13px;
    }
    .right-btn {
      background: #0160B0;
      color: #fff;
      border-color: #0160B0;
    }
    .j-link-con {
      button{
        margin-left: 20px;
        box-shadow: 0 2px 8px 0 rgba(0,0,0,0.10);
        border: none;
        background: #FFFFFF;
        box-shadow: 0 2px 8px 0 rgba(0,0,0,0.10);
      }
    }
    .resource-con>div {
      flex: 1;
      width: 80%;
      margin: 0 20px;
      overflow: hidden;
    }
  }
  .carousel-items {
    position: relative;
    div {
      width: 100%;
    }
  }
  .product-desc {
    height: 800px;
    overflow: auto;
  }
  .resource-introduce {
    text-align: center;
    font-size: 14px;
    color: #404040;
    line-height: 24px;
    font-weight: normal;
    margin-top: 10px;
  }
  .toggle-btn-con {
    margin-top: 10px;
  }
  .slick-dots-bottom {
    opacity: 0;
  }
  @media screen and (max-width: 2000px){
    .carousel-items {
      position: relative;
      div {
        width: 100%;
      }
    }
    .product-desc {
      height: 400px;
    }
  }
  @media screen  and (max-width: 1400px){
    .product-desc {
      height: 280px;
    }
    .detail-con .j-link-con {
      button{
        margin-left: 10px;
      }
    }
    .carousel-items {
      position: relative;
      div {
        width: 100%;
      }
    }
  }

  @media screen  and (max-width: 1100px){
    .toggle-btn-con {
      display: block;
    }
    .product-desc {
      height: 400px;
    }
    & .detail-con div.j-link-con {
      & {
        display: block;
        margin-top: 10px;
        margin-bottom: 20px;
      }
      button{
        margin-left: 0px;
        margin-right: 10px;
      }
    }
  }
  @media screen  and (max-width: 750px){
    .product-introduce {
      display: block;
    }
    .product-int {
      margin-bottom: 60px;
    }
    .product-desc {
      min-height: 100px;
    }
    .detail-con .resource-con {
      margin: 0 auto;
      width: 100%;
      z-index: 1
    }
    .carousel-items {
      position: relative;
      div {
        width: 100%;
      }
    }
  }


}



