.home-page {
  & {
    box-sizing: border-box;
    background-color: #f7fafe;
    height: 100%;
    width: 100%;
  }
  .home-page-header {
    & {
      height: 1.07rem;
      background-color: #f7fafe;
      width: 100%;
      display: flex;
      align-items: center;
    }
    .logo-con{
      & {
        height: 100%;
        width: 6.08rem;
        line-height: 1.07rem;
        background-color: #0091ff;
        height: 100%;
        border-radius: 0 0 6.08rem 0;
        vertical-align: middle;
        text-align: left;
        box-sizing: border-box;
        padding-left: .47rem;
      }
      img {
        display: inline-block;
        height: .56rem;
        min-width: .2rem;
      }
    }
    .slide-bar-btn{
      & {
        flex-grow: 1;
        line-height: 1.07rem;
        text-align: left;
        padding-left: .2rem;
        vertical-align: middle;
        cursor: pointer;
      }
      span{
        display: inline-block;
        width: .56rem;
        height: .39rem;
        background: url(./img/menu.png) no-repeat left top;
        background-size: cover;
      }
    }
  }
}