.product_con {
  .full_screen_con {
    & {
      position: fixed;
      left: 0;
      top: 0;
      bottom: 0;
      right: 0;
      // background-color: rgba(255,255,255,0.5);
      background-color: rgba(0,0,0,0.5);
    }
    img {
      width: 95%;
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate3d(-50%, -50%, 0);
      display: block;
    }
  }
  .full_screen_icon {
    position: absolute;
    left: .3rem;
    top: .3rem;
    width: .4rem;
    height: .4rem;
    background: url(../img/full-screen.png) no-repeat left top;
    background-size: contain;
  }
  .close_full_screen {
    background-image: url(../img/collapse.png);
  }
  .carousel_con {
    & {
      padding: 0 .41rem;
    }
    .slider-frame {
      border-radius: .35rem;
    }
    .carousel_list {
      height: 3.5rem;
      // background-color: #f30;
      overflow: hidden;
      // border-radius: .35rem;
      .c-img {
        & {
          width: 100%;
          height: 100%;
          background-size: contain;
          position: relative;
        }
      }
      .video-player {
        width: 100%;
        height: 100%;
      }
    }

    .am-carousel {
      height: 3.4rem;
    }
    .am-carousel-wrap-dot > span {
      width: .14rem;
      height: .14rem;
      background: #d8d8d8;
      border-radius: .14rem;
      transition: all ease .5s;
    }
    .am-carousel-wrap-dot-active > span {
      background: #0091ff;
      width: .32rem;
    }
  }
  .introduce {
    & {
      padding-left: .2rem;
      margin-top: .57rem;
    }
    &>li {
      & {
        margin-bottom: .68rem;
        border-radius: .1rem 0 0 .1rem;
        background: #fff;
        padding: .6rem .08rem .2rem .39rem;
        text-align: left;
        // font-size: 18px;
        // line-height: 24px;
        font-size: 14px;
        line-height: 24px;
        color: #545759;
        box-shadow: 0 2px 12px #eef4fa;
        position: relative;
      }
      &>span {
        position: absolute;
        padding: .16rem;
        background: #0091FF;
        color: #F7FAFE;
        font-size: 20px;
        line-height: 20px;
        border-radius: .13rem;
        left: .2rem;
        top: -.34rem;
      }
      li, span, p {
        font-size: 16px;
        line-height: 24px;
      }
    }
  }
}